/demo/hooks
/demo/node_modules
/demo/platforms
/pushall.sh
/plugin/android17.d.ts
/plugin/ios.d.ts
/demo/app/*.map
/plugin/*.map
/plugin/tslint.json
/plugin/*.js
/plugin/node_modules
/plugin/hooks
/demo/app/SocialLogin/*.map
/demo/.vscode
*.log
